# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*

# Cache
.cache

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Claude
.claude
.vercel
